.container-calendar {
    background: #ffffff;
    padding: 0;
    margin: 0 auto;
    overflow: auto;
}

.button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #002B5B;
    color: #fff;
    border: 1px solid #002B5B;
    border-radius: 4px;
    padding: 2px 15px;
    font-size: 25px;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
}

.table-calendar td, .table-calendar th {
    padding: 15px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
}

.date-picker.selected {
    font-weight: bold;
    background-color: #004796;
}

.date-picker.selected span {
    color: #ffffff;
}

.date-picker:nth-child(1) {
  color: red;
  font-weight: bold;
}

.date-picker:nth-child(6) {
  color: green;
  font-weight: bold;
}

#monthAndYear {
    text-align: center;
    margin-top: 0;
}

.button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
}

#previous {
    float: left;
}

#next {
    float: right;
}

.footer-container-calendar {
    margin-top: 1em;
    padding: 10px 0;
    text-align: center;
}

.footer-container-calendar select {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #002B5B;
    color: #ffffff;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
}
.shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}
.card{
    background-color: #ffffff !important;
}

.card-img{
    opacity: 80%;
}

h4,h3{
    color:#002B5B;
    font-weight: bolder;
}

@media only screen and (max-width: 600px) {
    .mobile {
      display: none;
    }
}

@media only screen and (min-width: 600px) {
    .logo-bg{
        height: 160px;
        width: 100%;
        background-color: #003776 !important;
    }

    .leftside-menu{
        margin-top: 80px !important;
    }

    .container-calendar {
        padding: 10px 100px !important;
    }

}

.dataTables_length label{
    display: none !important;
}

li .active{
    background-color: #004796;
    border-radius: 10px;
}

.side-nav-item{
    border: 1px solid #004796;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;;
}

.side-nav-item:hover{
    background-color: #004796;
}

.page-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    top: 0;
    left: 0;
    z-index: 20000000;
}

.page-loader img {
    width: 150px;
    position: fixed;
    left: 50%;
    top: 45%;
    margin-left: -75px !important;
}

.card-box {
    position: relative;
    color: #fff;
    padding: 20px 10px 40px;
    margin: 20px 0px;
}
.card-box:hover {
    text-decoration: none;
    color: #f1f1f1;
}
.card-box:hover .icon i {
    font-size: 100px;
    transition: 1s;
    -webkit-transition: 1s;
}
.card-box .inner {
    padding: 5px 10px 0 10px;
}
.card-box h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    text-align: left;
}
.card-box p {
    font-size: 15px;
}
.card-box .icon {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 5px;
    z-index: 0;
    font-size: 72px;
    color: rgba(0, 0, 0, 0.15);
}
.card-box .card-box-footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-decoration: none;
}
.card-box:hover .card-box-footer {
    background: rgba(0, 0, 0, 0.3);
}
.bg-blue {
    background-color: #2778ee !important;
}
.bg-green {
    background-color: #00a65a !important;
}
.bg-orange {
    background-color: #f39c12 !important;
}
.bg-red {
    background-color: #d9534f !important;
}
.bg-blue-1 {
    background-color: #00c0ef !important;
}
.bg-green-1 {
    background-color: #66bb6a !important;
}
.bg-orange-1 {
    background-color: #e69814 !important;
}
.bg-red-1 {
    background-color: #d45a55 !important;
}
.bg-purple {
    background-color: #c452ef !important;
}
.bg-pink {
    background-color: #e84a94 !important;
}
.bg-magenta {
    background-color: #ae379b !important;
}
.bg-tree-green {
    background-color: #117c8f !important;
}

.bg-notification-header {
    background-color: #e1eaeb !important;
}


